    <div class="placholder-navbar" style="height:66px"></div>
<div class="container">
   <div class="titles">
    <h2>INSCRIPTION</h2>
    <%= render "devise/shared/links" %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off" } ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs margin-bottom">
      <%= f.input :first_name,
                  autofocus: true,
                  input_html: { autocomplete: "off", class: "input-field box-shadow" } %>
      <%= f.input :last_name,
                  input_html: { autocomplete: "off", class: "input-field box-shadow"} %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "off", class: "input-field box-shadow" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "input-field box-shadow" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "off", class: "input-field box-shadow" } %>
      <%= f.input :phone_number,
                  input_html: { autocomplete: "off", class: "input-field box-shadow" } %>
      <%= f.input :birth_date,
                  start_year: 1940, end_year:2021,
                  order: [:day, :month, :year] %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions my-tap-container">
      <%= f.button :submit, "INSCRIPTION", class: "my-btn my-btn-primary" %>
    </div>
  <% end %>
</div>
