<div class="written-activity-booked mood-form" id="resa-faite">
  <div class="text-center">
    <h1>Ta réservation est faite !</h1>
    <p>Tu recevras une confirmation par email sous peu !</p>
  </div>
  <div class="guest-sentence">
    <p id="guest-line">Envoie une invitation mystère à <span id="guest-text" data-guests="<%= @guests %>" ></span> ?</p>
  </div>
  <div class="text-center">
    <%= image_tag "arrow.png", class: "arrow" %>
  </div>
  <%= simple_form_for :guest, url: invitation_path, class: "text-center guest-email", method: "get" do |f| %>
    <%= f.hidden_field :booking, value: @booking.id %>
    <%= f.text_field :guest_mail, id: "guest-email-input", name: "email", value: "email", required: true %>
    <%= f.submit "Inviter ! ", class: "my-btn-primary mt-3" %>
  <% end %>
</div>


<div class="my-button-invitation">
  <div class="form-actions my-tap-container" id="margin-top">
    <%= link_to 'Mes réservations', profile_my_bookings_path, class: "btn my-btn my-btn-primary", id: "arrow-issue" %>
  </div>
</div>
