<div class="placholder-navbar" style="height:66px"></div>


<div class="card-activity">
  <%= cl_image_tag @booking.slot.activity.photos[0].key, crop: :fill, class: "cover" %>
</div>


<div class="written-activity-booked mood-form" id="resa-faite">
  <h1>Ta réservation est faite !</h1>
  <p>Tu recevras une confirmation par email sous peu!</p>
  <p>Tu veux envoyer une invitation mystère à ton partenaire ?</p>
  <%= image_tag "arrow.png", class: "arrow" %>
</div>


<div class="my-button-invitation">
  <div class="form-actions my-tap-container" id="margin-top">
    <%= link_to 'Inviter', profile_my_bookings_path, class: "btn my-btn my-btn-primary", id: "arrow-issue" %>
  </div>
</div>

  <% if @booking.review %>
  <h1> <%= @booking.review.content %> </h1>
  <h1> <%= @booking.review.rating %> </h1>


  <div>
      <% if [1, 2, 3, 4, 5].include?(@booking.review.rating) %>
          <% @booking.review.rating.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
      <% else %>
        <% @booking.review.rating.to_f.truncate.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <i class="fas fa-star-half-alt"></i>
      <% end %>
      <%= link_to "Supprimer", destroy_review_path(@booking.review), method: :delete,
              class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
  <% else %>
    <p> Tu n'as pas encore donné ton avis, c'est le moment ! </p>
    <%= link_to 'Ajouter un avis', new_review_path(@booking), class: "my-btn my-btn-primary" %>

  <div>
    <p> Tu n'as pas encore donner ton avis, c'est le moment ! </p>

  <% end %>

   
