<%= render 'shared/banner', activities: @activities_names %>

<div class="home-section">
  <h2>Les activités les plus populaires</h2>

  <div class="my-carousel">
    <% @activities_carousel.first(10).each do |activity| %>

      <div class="my-card my-activity-card box-shadow">
        <div class="my-card-div-image">
          <div class="div-image-overlay">
          </div>
          <%= cl_image_tag activity.photos[0].key, crop: :fill %>
          <%# <div class="icon-info"><p>i</p></div> %>
        </div>
        <div class="my-card-div-details display-flex-column">
          <h3><%= activity.name %></h3>
          <div class="display-flex">

            <div class="display-flex-column">
              <div class="card-detail">
                <i class="fas fa-euro-sign"></i>
                <p><%= activity.price_per_head %> (par personne)</p>
              </div>
              <div class="card-detail">
                <i class="fas fa-hourglass-start"></i>
                <p>environ 2h</p>
              </div>
            </div>

            <div class="display-flex-column">
              <div class="card-detail">
                <i class="fas fa-map-marker-alt"></i>
                <p>Lille</p>
              </div>
              <div class="card-detail">
                <%# <i class="fas fa-clock"></i> %>
                <%# <p>rdv à 19h30</p> %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="home-section">
  <h2>Les meilleurs avis</h2>
  <div class="my-container">
  
  <% @best_reviews.each do |review| %>
    <div class="my-review-card">

      <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <hr>

        <div class="my-review-card-rating">
          <% if [1, 2, 3, 4, 5].include?(review.rating) %>
            <% review.rating.to_i.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - review.rating.to_i).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% else %>
            <% review.rating.to_f.truncate.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <i class="fas fa-star-half-alt"></i>
            <% (4 - review.rating.to_f.truncate).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>



      <div class="my-review-card-content">
        <p><%= review.content %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>