<div class="button-randomize">
  <div class="my-tap-container" id="remove-fixed">
  <%= link_to 'Randomize!', select_path, class: 'my-btn my-btn-primary display-none', id: 'rdm-btn' %>
  <a href="" class="my-btn my-btn-primary", id="next-btn">SUIVANT</a>
  </div>
</div>

<div class="random-section" id="section-map">
  <div class="map-container-flex">
    <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <div id="geolocate">
        <i class="fas fa-location-arrow"></i>
      </div>
    </div>

    <%# <div class="map-controls">
      <div class="my-container">
        <div class="map-address-container">
          <input type="text" class="input-field form-control" placeholder="Entre une adresse">
        </div>
      </div>

    </div> %>
  </div>



    <%# <div class="form-group map-filters">
      <h2><label for="formControlRange">Jusqu'où irais-tu pour randomize?</label></h2>
      <input type="text" class = "hiddenAddress">
      <div class="align">
        <p>10 km</p>
        <input type="range" class="form-control-range" id="formControlRange">
        <p> 1 km</p>
      </div>
    </div>

    <div class="number-participants">
      <div class="one-participant">
        <input type="radio" id="person" name="participants" value="person" class= "one-participant"
               checked>
        <i for="person" class="fas fa-user-circle"></i>
      </div>
      <div class="two-participants">
        <input type="radio" id="people" name="participants" value="people">
        <i for= "people" class="fas fa-user-friends"></i>
      </div>
    </div> %>
    <%# <input value="Suivant" class="my-btn-primary btn-extend" id="next-scroll"> %>
</div>



<div class="my-container">
<div class="mood-form random-section display-none " id="mood-section">
  <h1>ON SE LA JOUE COMMENT ?</h1>
  <div class="mood-images">
    <div class="mood-card img-adventure active-mood-card" id="adventure">
      <%= image_tag "moodadventure.jpg" %>
      <h3>Aventurier</h3>
      <div class="check" id="mood-aventurier">
        <i class="fas fa-check"></i>
      </div>
    </div>
    <div class="mood-card img-shy">
      <%= image_tag "moodshy.jpg" %>
      <h3>Prudent</h3>
      <div class="check" id="mood-shy">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div id="mood-sentence">
    <div class="completely-random">
      <p>J'y vais totalement au hasard</p>
    </div>
    <div class="choose-a-little">
      <p>Je choisis quand même un peu</p>
    </div>
  </div>

</div>

<div class="random-section  display-none form-budget-ext-int mood-form" id="section-custom-1">
  <h2>Quel est ton budget maximal par personne ?</h2>

  <%# <form action="#" method="post"> %>
    <div class="my-form-budget">
      <input type="number" id="max-price" class="input-field" name="max-price" min="0" max="100">
      <i class="fas fa-euro-sign"></i>
    </div>

    <h2>Plutôt intérieur, extérieur ou les deux ?</h2>
    <div class="mood-images">
      <div class="select-indoor-outdoor active-indoor-outdoor-card">
        <%= image_tag "ext.png" %>
        <div class="check" id="select-indoor">
          <i class="fas fa-check"></i>
        </div>
        <h3>Extérieur</h3>
      </div>
      <div class="select-indoor-outdoor">
        <%= image_tag "int.png" %>
        <div class="check" id="select-outdoor">
          <i class="fas fa-check"></i>
        </div>
        <h3>Intérieur</h3>
      </div>
    </div>


    <%# <div class="button-next">
      <div class="my-tap-container" id="remove-fixed">
        <a href="#" class="my-btn my-btn-primary">SUIVANT</a>
      </div>
    </div> %>
  <%# </form> %>
  <div class="random-section  display-none" id="section-custom-2">
    <h2>Quel serait ton type d'activité ?</h2>
    <form action="#">

      <div class="category-checkboxes">
        <div>
          <div class="category-checkbox category-checkbox-checked">
            <div class="sport-background">
              <div class="check" id="categ-sport">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Sport</p>
          </div>

          <div class="category-checkbox">
            <div class="social-background">
              <div class="check" id="categ-social">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Social</p>
          </div>
        </div>

        <div>
          <div class="category-checkbox">
            <div class="culture-background">
              <div class="check" id="categ-culture">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Culture</p>
          </div>

          <div class="category-checkbox category-checkbox-checked">
            <div class="nature-background">
              <div class="check" id="categ-nature">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Nature</p>
          </div>
        </div>


        <div>
          <div class="category-checkbox category-checkbox-checked">
            <div class="bien_etre-background">
              <div class="check" id="categ-bien_etre">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Bien être</p>
          </div>

          <div class="category-checkbox">
            <div class="sensation-background">
              <div class="check" id="categ-sensation">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <p>Sensation</p>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
</div>


