<div class="my-body">
  <div class="container">
    <div class="titles">
      <h2 class="margin-top">CONNEXION</h2>
      <%= render "devise/shared/links" %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: "off" } ) do |f| %>
      <div class="form-inputs">

        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "off", class: "input-field box-shadow" }
                    %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "off", class: "input-field box-shadow" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions my-tap-container">
        <%= f.button :submit, "CONNEXION", class: "my-btn my-btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
