<div class="placholder-navbar" style="height:66px"></div>
<h1> <%= @activity.name %> </h1>
<h1> <%= @activity.name %> </h1>
<h1> <%= @activity.name %> </h1>
<h1> <%= @activity.name %> </h1>

<%= link_to "Retour à mes réservations", profile_my_bookings_path %>
