<div class="placholder-navbar" style="height:66px"></div>

<div class="container">
<div class="mood-form loader" id="loader">
  <h1>RANDOMIZE TE FAIT DÉCOUVRIR ...</h1>
    <%= image_tag "dice.gif", class: "dice-gif" %>
</div>


<div id="activity-revealed">
  <div class="my-card my-activity-card box-shadow activity-secret">
    <div class="my-card-div-image">
      <% if @activity.instructions %>
        <div class="icon-info"></div>
        <div class = "activity-informations display-none">
          <%= @activity.instructions %>
        </div>
      <% end %>
      <div class="div-image-overlay">
        <p>?</p>
        <a class="my-btn my-btn-reveal" id="btn-reveal-activity" title="Révéler">Révéler</a>

      </div>
      <%= cl_image_tag @activity.photos[0].key, crop: :fill %>
    </div>
    <div class="my-card-div-details display-flex-column">
      <div class="hide-name"></div>
      <h3> <%= @activity.name %> </h3>
      <div class="display-flex">

        <div class="display-flex-column">
          <div class="card-detail">
            <i class="fas fa-euro-sign"></i>
            <p> <%= @activity.price_per_head %> (par personne)</p>
          </div>
          <div class="card-detail">
            <i class="fas fa-hourglass-start"></i>
            <p>environ 2h</p>
          </div>
        </div>

        <div class="display-flex-column">
          <div class="card-detail">
            <i class="fas fa-map-marker-alt"></i>
            <p>à 7km</p>
          </div>
          <div class="card-detail">
            <i class="fas fa-clock"></i>
            <p>rdv à 19h30</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions my-tap-container">
    <%= link_to 'Rerandomize', random_path, class: "btn my-btn my-btn-secondary" %>
    <%= link_to 'Réserver', bookings_path(activity_id: @activity, slot_id: @slot, reveal: @reveal), method: :post, class: "btn my-btn my-btn-primary", id: "btn-booking-reservation" %>
  </div>
</div>
